@import "tailwindcss";


@theme {  
    --animate-toast: toast 5s;
    @keyframes toast {    
        0% {      
            transform: translateY(40px);  
            opacity: 0%  
        }    
        5%{      
            transform: translateY(0px);  
            opacity: 100%;
        }    
        95% {
            transform: translateY(0px);
            opacity: 100%%;
        },
        100% {
            transform: translateY(0px);
            opacity: 0%;
        }
    }
}